body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #2272FF;
    color: #fff;
    padding: 10px;
  }
  
  h1 {
    margin: 0;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
    text-align: center;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    margin: 20px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  button {
    background-color: #2272FF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  footer {
    background-color: #2272FF;
    color: #3937cc;
    padding: 25px;
    margin-bottom: 0px;
    text-align: center;
  }
  